body{
  background-image: linear-gradient(160deg,lightgray,orange,burlywood);
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#mainNav a{
text-decoration: none;
color: black;
font-size: 50px;
}

#mainNav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

img{
  width:200px;
  margin-top: -20px;
 }

 .hero {
  display: flex;
  align-items: center; /* Align items vertically centered */
  background-color: rgba(255, 217, 122, 0.818);
  border-radius: 30px;
}

.hero img {
  width:300px;
  max-width: 50%; /* Adjust the width as needed */
  margin-right: 75px; /* Space between image and text */
  margin-left: 10px;
}

.hero-text{
  flex: 1; /* Take up the remaining space */
}


.About {
  display: flex;
  align-items: center; /* Align items vertically centered */
  margin-top: 100px;
  background-color: rgba(255, 207, 118, 0.671);
  border-radius: 30px;
}

.About img {
  width:400px;
  height:250px;
  max-width: 50%; /* Adjust the width as needed */
  margin-right: 10px; /* Space between image and text */
  margin-left: 75px;
}

.about-text{
  flex: 1; /* Take up the remaining space */

}

#footer a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  }
  
  #footer{
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
