body{
  background-image: linear-gradient(160deg,lightgray,orange,burlywood);
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*Nav-Bar*/
#mainNav a{
text-decoration: none;
color: black;
font-size: 50px;
}

#mainNav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#mainNav a:hover{
  text-decoration: underline;
}

#logo{
  width:200px;
  height: 100px;
  margin-top: -10px;
 }

 hr{
  border-top: 2px solid black;
  margin-top: -15px;
 }
/*end of Nav-bar*/
/*Hero Section*/
section.hero{
min-height: 100vh;
display: flex;
background:url(wild-cat-poster.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
}

div.content{
  max-width: 17rem;
}

#hero-slogan{
  font-size: 80px;
  text-transform: uppercase;
  color: white;
}

#peppy-msg{
color:white;
font-size: 40px;
}

#contin-btn{
  font-size: 40px;
  background-color: antiquewhite;
  border: none;
  border-radius: 3px;
  margin-left:20px;
}
/*Hero Section (end)*/

/*Did You Know */
#did-you-know{
  
}

#dyk-title{
  text-align: center;
  font-size: 75px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lion-stats {
  display: flex;
  align-items: center; /* Aligns items vertically centered */
}

#lion-logo {
  flex: 1; /* Adjusts the width of the image container */
  padding: 10px;
  width:500px;
}

#lion-stats {
  flex: 2; /* Adjusts the width of the text container */
  padding: 10px;
  margin-top: -4em;
}

.cheetah-stats {
  display: flex;
  align-items: center; /* Aligns items vertically centered */
}

#cheetah-logo {
  flex: 1; /* Adjusts the width of the image container */
  padding: 10px;
  width:500px;
}

#cheetah-stats {
  flex: 2; /* Adjusts the width of the text container */
  padding: 10px;
  margin-top: -4em;
}

.tiger-stats {
  display: flex;
  align-items: center; /* Aligns items vertically centered */
}

#tiger-logo {
  flex: 1; /* Adjusts the width of the image container */
  padding: 10px;
  width:500px;
}

#tiger-stats {
  flex: 2; /* Adjusts the width of the text container */
  padding: 10px;
  margin-top: -4em;
}

/* Did You Know (end)*/

/*Merch Demo*/
#demo-title{
font-size: 75px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
}

.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


/*Merch Demo end*/


/*#footer a{ 
text-decoration: none;
color: black;
  font-size: 30px;
  }
  
  #footer{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
*/