body{
  background-image: linear-gradient(160deg,lightgray,orange,burlywood);
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Nav-Bar*/
#mainNav a{
text-decoration: none;
color: black;
font-size: 50px;
}

#mainNav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#mainNav a:hover{
  text-decoration: underline;
}

#logo{
  width:200px;
  height: 100px;
  margin-top: -10px;
 }

 hr{
  border-top: 2px solid black;
  margin-top: -15px;
 }
/*end of Nav-bar*/
/*Hero Section*/
.hero{
  display: flex;
  height:120vh;
}
.hero-text{
  max-width: 60em;
}
.hero-title{
  font-size: 250px;
}
.hero-desc{
  margin-top:50px;
font-size:75px;
}

.hero-item{
  position: relative;
max-height: 20em;
transition: opacity 1s ease-in-out;
opacity: 0;
}

.hero-item.active{
  opacity:1;
}

.hero-item-title{
  font-size: 150px;
  position: absolute;
  top:6.5em;
  left:5.5em;
  z-index:1;
}

.hero-pic{
width:1000px;
position: absolute;
top:370px;
left:30px;
border-radius:30%;
z-index: 1;
mask-image: linear-gradient(black 90%, transparent);
}

.hero-bg{
  width:1000px;
  height:900px;
  border-radius:50%;
position:absolute;
top:350px;
left:50px;
}

.hero-bg:nth-of-type(1){
  background:linear-gradient(white,orange,black);
}
.hero-bg:nth-child(1){
 background:linear-gradient(tan,brown,black);
}
.hero-bg:nth-child(2){
  background:linear-gradient(burlywood,black,orange);
}
.hero-bg:nth-child(3){
  background:linear-gradient(burlywood,black,orange);
}

.hero-bg:nth-child(4){
  background:linear-gradient(burlywood,black,orange);
}

/*Did You Know */
#dyk-title{
  text-align: center;
  font-size: 75px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lion-stats {
  display: flex;
  align-items: center; /* Aligns items vertically centered */
}

#lion-logo {
  flex: 1; /* Adjusts the width of the image container */
  padding: 10px;
  width:500px;
}

#lion-stats {
  flex: 2; /* Adjusts the width of the text container */
  padding: 10px;
  margin-top: -4em;
}

.cheetah-stats {
  display: flex;
  align-items: center; /* Aligns items vertically centered */
}

#cheetah-logo {
  flex: 1; /* Adjusts the width of the image container */
  padding: 10px;
  width:500px;
}

#cheetah-stats {
  flex: 2; /* Adjusts the width of the text container */
  padding: 10px;
  margin-top: -4em;
}

.tiger-stats {
  display: flex;
  align-items: center; /* Aligns items vertically centered */
}

#tiger-logo {
  flex: 1; /* Adjusts the width of the image container */
  padding: 10px;
  width:500px;
}

#tiger-stats {
  flex: 2; /* Adjusts the width of the text container */
  padding: 10px;
  margin-top: -4em;
}

/* Did You Know (end)*/

/*Merch Demo*/
#demo-title{
font-size: 75px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
}

.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


/*Merch Demo end*/


/*#footer a{ 
text-decoration: none;
color: black;
  font-size: 30px;
  }
  
  #footer{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
*/